[Unit]
Description=sync mail
Requires=gpg-agent.socket

[Service]
Type=oneshot
Nice=10
Environment="GNUPGHOME=/home/rj1/.local/share/gnupg"
Environment="PASSWORD_STORE_DIR=/home/rj1/.local/share/pass"
Environment="NOTMUCH_CONFIG=/home/rj1/.config/notmuch/config"
ExecStart=/home/rj1/.config/email/check-email.sh
