{
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.blade.php",
      "options": {
        "parser": "blade",
        "tabWidth": 2,
        "printWidth": 120
      }
    }
  ]
}
