#tabbrowser-tabs {
  --proton-tab-block-margin: 0;
  --tab-border-radius: 0;
}

.tab-background {
  box-shadow: none !important;
  margin: 0 !important;
}

#tabbrowser-tabs .tab-background > .tab-context-line {
  margin: 0 !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  height: 1px !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line + .tab-loading-burst.proton {
  background-color: var(--identity-icon-color);
  opacity: 0.1;
}
